body	{ 
	text-align:left;
	}
	
table.notice {width:700px; margin:0 auto; padding:0; border-spacing:0px; border:0; border-collapse:collapse; font-size:12px; font-family:dotum;}
.notice thead th {text-align:center; background:#e6f0f9; color:#2f4171;border:1px solid #D3DEE0; padding:5px 9px 2px;}
.notice tbody tr:hover {background:#F2F684; color:#1BA6B2}
.notice tbody td {text-align:center;border:1px solid #D3DEE0; padding:5px 9px 2px;}
.notice tbody td.title {text-align:left;}

table.notice_view {width:700px; margin:0 auto; padding:0; border-spacing:0px; border:0; border-collapse:collapse; font-size:12px; font-family:dotum;}
.notice_view tbody td {border-bottom:1px solid #D3DEE0; color:#2f4171; padding:5px 9px 2px;}
.notice_view tbody th {border-bottom:1px solid #D3DEE0; color:#2f4171; padding:5px 9px 2px;}

table.notice_noline {width:700px; margin:0 auto; padding:0; border-spacing:0px; border:0; border-collapse:collapse; font-size:12px; font-family:dotum;}
.notice_noline tbody td.left {padding:5px 9px 2px; text-align:left}
.notice_noline tbody td.right {padding:5px 9px 2px; text-align:right}

table.notice_write {width:720px; margin:0 auto; padding:0; border-spacing:0px; border:0; border-collapse:collapse; font-size:12px; font-family:dotum;}
.notice_write tbody td {border-bottom:1px solid #D3DEE0; color:#2f4171; padding:5px 9px 2px;}
.notice_write tbody th {border-bottom:1px solid #D3DEE0; color:#2f4171; padding:5px 9px 2px;}

	
.bottomLine	{border-bottom:1px solid red;}

ul.pageNavi {text-align:center;}

.pageNavi li {display:inline;vertical-align:middle;}
.pageNavi li a {  
    display:-moz-inline-stack;  /*FF2*/  
    display:inline-block;  
    vertical-align:top;  
    padding:4px;  
    margin-right:3px;  
    width:15px !important;  
    color:#000;  
    font:bold 12px tahoma;  
    border:1px solid #D3DEE0;  
    text-align:center;  
    text-decoration:none;  
    width /**/:26px;    /*IE 5.5*/  
  
}
.pageNavi li a.now {color:#2f4171;border:1px solid #D3DEE0;background-color:#e6f0f9;}
.pageNavi li a.edge {
	display:-moz-inline-stack;  /*FF2*/  
	display:inline-block;  
	vertical-align:top;  
	padding:4px;  
	margin-right:3px;  
	width:30px !important;  
	color:#000;  
	font:bold 12px tahoma;  
	border:1px solid #D3DEE0;  
	text-align:center;  
	text-decoration:none;  
	width /**/:26px;    /*IE 5.5*/
}
.pageNavi li a:hover, ul li a:focus {color:#2f4171;border:1px solid #e6f0f9;background-color:#D3DEE0;}

/* 
.pageNavi .direction{ font-weight:normal; color:#767676; text-decoration:none !important; border:0; z-index:1;}
.pageNavi .direction:hover,
.pageNavi .direction:active,
.pageNavi .direction:focus{ color:#323232; background-color:#fff;}

.pageNavi .direction span{ position:relative; display:inline-block; width:0; height:0; font-size:0; line-height:0; vertical-align:top; top:4px;}
 */
	